body{background-image: linear-gradient( to right, rgb(241, 30, 118),rgba(173, 74, 208, 0.692),rgb(101, 11, 101) );}


#main{background-color: rgb(231, 188, 239);
    animation-name: main;/*name of keyframe used */
    animation-duration: 4s;/* how long animation last */
    animation-iteration-count: infinite;/*how often does it run*/

    text-align: center; width:50% ; /*text is middle 50% has element in middle of page*/
     margin: auto; /*horizontal centers */
     padding: 20px;/*space between */
   
}
@keyframes main{
    from{background-color: rgb(231, 188, 239)}
    to{background-color: blueviolet;}}

p{font-size: x-large;}

h1{ border: 8px dotted rgb(255, 5, 134);}